from django.db import models
{% for model in models %}
class {{ model.name }}:
    {%- for field in model.fields %}
    {{ "_" if field.visibility == '#' }}{{ "__" if field.visibility == '-' }}{{ field.name }} = models.{{ field.datatype }}Field()
    {%- endfor %}

    {%- for relation in model.relations %}
    {{ relation.target.lower() }} = models.ForeignKey({{ relation.target }}, null={{ True if (relation.target_cardinality == '*' or relation.target_cardinality == '0..1') else False }})
    {%- endfor %}

    {%- for method in model.methods %}
    def {{ "_" if method.visibility == '#' }}{{ "__" if method.visibility == '-' }}{{ method.name }}({% for param in method.params %}{{ param.name }}{{ ", " if not loop.last }}{% endfor %}):
        pass
    {%- endfor %}
{% endfor %}